<section data-ng-controller="UtentesController">
    <div class="page-header">
        <h1>Registar Utente</h1>
    </div>
    <div class="col-md-8 col-md-offset-2 panel">
        <form class="form-horizontal espaco" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Nome" required>
                    </div>
                </div>

                 <div class="form-group">
                    <label class="control-label" for="apelido">Apelido</label>
                    <div class="controls">
                        <input type="number" data-ng-model="apelido" id="apelido" class="form-control" placeholder="Apelio" required>
                    </div>
                </div>

                 <div class="form-group">
                    <label class="control-label" for="gAcademico">Grau Academico</label>
                    <div class="controls">
                        <input type="text" data-ng-model="gAcademico" id="gAcademico" class="form-control" placeholder="Grau Academico" required>
                    </div>
                </div>

                 <div class="form-group">
                    <label class="control-label" for="empresa">Empresa</label>
                    <div class="controls">
                        <input type="text" data-ng-model="empresa" id="empresa" class="form-control" placeholder="Empresa" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="dataNascimento">Data de Nascimento</label>
                    <div class="controls">
                        <input type="text" data-ng-model="dataNascimento" id="dataNascimento" class="form-control" placeholder="Data de Nascimento" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="sexo">Sexo</label>
                    <div class="controls">
                        <input type="text" data-ng-model="sexo" id="sexo" class="form-control" placeholder="Sexo" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="telefone">Telefone</label>
                    <div class="controls">
                        <input type="text" data-ng-model="telefone" id="telefone" class="form-control" placeholder="Telefone" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="email">Email</label>
                    <div class="controls">
                        <input type="text" data-ng-model="email" id="email" class="form-control" placeholder="Email" required>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary"> Gravar</button>
                    <button data-ng-click="limpaCampos" class="btn btn-warning"><span class=" glyphicon glyphicon-remove"></span> Limpar</button>
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>
