<section data-ng-controller="AlugueresController" data-ng-init="find()">
    <div class="page-header">
        <h1>Alugueres</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="aluguere in alugueres" data-ng-href="#!/alugueres/{{aluguere._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="aluguere.created | date:'medium'"></span>
				by
				<span data-ng-bind="aluguere.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="aluguere.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!alugueres.$resolved || alugueres.length">
    	No Alugueres yet, why don't you <a href="/#!/alugueres/create">create one</a>?
    </div>
</section>